h1{
    position: absolute;
width: 278px;
height: 47.5px;
left: 243px;
top: 110px;

font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 36.5px;
line-height: 50.5px;
letter-spacing: -0.045em;

color: #ffffff;

}
h2{

    position: absolute;
    width: 117px;
    height: 27px;
    left: 736px;
    top: 110px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18.5px;
    line-height: 27.5px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
    }
p{
    position: absolute;
width: 439px;
height: 87px;
left: 736px;
top: 147px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #000000;

}
.Bill{
    position: absolute;
   
    left: 240px;
    top: 686px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000;
}
.Saba{
    position: absolute;

left: 571px;
top: 791px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;


}
.Shae{
    position: absolute;
    
    left: 901px;
    top: 686px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000;
    


}
.Sky{
    position: absolute;

left: 241px;
top: 1201px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;


}
.Griff{
    position: absolute;

left: 571px;
top: 1306px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;

}
.Stan{
    position: absolute;
   
    left: 902px;
    top: 1201px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000;
    
}
#photo1{
    position: absolute;
width: 238px;
height: 426.5px;
left: 240px;
top: 244.5px;

background: url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
            }
#photo2{
    position: absolute;
    width: 305.21px;
    height: 471px;
    left: 534.64px;
    top: 396px;
    
    background: url(image.png);
    
}
#photo3{
    position: absolute;
width: 300.81px;
height: 399.96px;
left: 863.54px;
top: 330px;

background: url(image.png);

}
#photo4{
    position: absolute;
width: 276.68px;
height: 469px;
left: 241px;
top: 760px;

background: url(image.png);

}

#photo5{
    position: absolute;
    width: 274.36px;
    height: 360px;
    left: 534.64px;
    top: 944px;
    
    background: url(image.png);
}
#photo6{
    position: absolute;
width: 335.75px;
height: 449px;
left: 864.69px;
top: 796px;

background: url(image.png);

}
